name: Test Coverage

on:
  pull_request:
    branches: [main]

env:
  GOPRIVATE: "github.com/tokopedia/*"
  GOPATH: "${{ github.workspace }}/go"
  GO111MODULE: on

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
#    services:
#      dind:
#        image: docker:23.0-rc-dind-rootless
#        ports:
#          - 2375:2375

      - name: Checkout Main
        uses: actions/checkout@v3
        with:
          path: ${{ env.MAINBRANCH }}
          ref: ${{ env.MAINBRANCH }}

      - name: Install Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.18.6

      - name: Change to code directory
        run: cd ${{ github.workspace }}

      - name: Install Dockertest
        run: go get github.com/ory/dockertest/v3

      - name: Run tests
        run: |
          go test -v ./...


